*{
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    background-image: url("https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABdYkHwZZYZ4cYPZ20OWPg4dml1YWoI5TnX0ALc_4rHEkyvokTlifJKLD2U_ypf2wNi9Jc6Jigr53o-0syqQFrB0TLUIk1A-k1U3z.jpg?r=720&quot");
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 600px;
}
.posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}
::-webkit-scrollbar