.buttonanimation{
    color: black;
    background-color: red;
    height: 35px;
    width: 80px;
    border-color: black;
    border-radius: 5px;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}